<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info</h1>
        <p>This is the info page: here's some information about me!</p>
        <p>It's important to note that the name of the file doesn't have to match the name of the route. For example, if we wanted our "/info" route to render a file called dogs.erb, we could do so like this:<p>
    </body>
</html>